@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}

/* Page Body */

#pageBody {
  height: 100vh;
  width: 100vw;
  background-color: #0E012A;
  text-align: center;
}

#widgetContainer {
  width: 1000px;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: min(13vh);
  background: white;
  float: left;
  border-radius: 20px;
  position: absolute;
  overflow: hidden
}

/* Widget Header */

#widgetHeaderText {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #0E012A;
  font-size: 26px;
  font-weight: bold;
  background-image: linear-gradient(to right, #ECEAF0 , white);
  width: 100%;
  z-index: 6;
}

/* Widget Sidebar */

#widgetSidebar {
  width: 22%;
  background-color: white;
  height: 100%;
  position: absolute;
  min-width: 200px;
  z-index: 1;
}

#divider {
  border-right: 1.5px solid #E1DEE6;
  float: left;
  height: 80%;
  width: 100%;
  margin-top: 10%;
  z-index: 5;
}

#styleSelectorDropdownDiv {
  position: absolute;
  margin-top: 10px;
  margin-left: -5px;
  cursor: pointer;
  z-index: 1
}

#styleSelector {
  margin-top: 25px;
  margin-left: 25px;
}

#styleSelectorDropdown {
  margin-left: 5%;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  align-items: left;
  display: absolute;
  justify-content: left;
  color: #5A5A5A;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

#download {
  margin-top: 115px;
  margin-left: 25px;
}

#scriptDownloadButton {
  font-size: 16px;
  border: none;
  height: 34px;
  align-items: left;
  display: absolute;
  justify-content: left;
  color: #5A5A5A;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  z-index: 1;
  background-color: #E1DEE6;
  box-shadow: 0px 2px 2px lightgray;
}

#scriptDownloadButton:hover {
  background-color: #ebe9f0;
}

.actions {
  color: #5A5A5A;
  position: absolute;
}

/* Widget Body */

#widgetBody {
  height: 85%;
  padding-top: 8px;
  position: absolute;
  left: 19%;
  right: 0px;
  width: 100%;
  color: #5A5A5A;
  text-align: left;
  background-color: white;
  overflow-y: scroll;
  z-index: 0;
}

#dialogTurnsTable {
  margin-top: 15px;
}

#widgetButtonsDiv {
  margin-left: 5%;
  overflow-y: scroll;
}

#loader {
  width: 20px;
  height: 20px;
  margin-top: 16px;
  margin-left: 10px;
  border:solid 5px #0E012A;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  float: left;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate; 
  animation-duration: 1.0s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  visibility: hidden;
}

.dialogTurnRow {
  width: 100vw;
}

.dialogTurnColumn {
  width: 100vw;
}

.dialogTurnInput {
  border: none;
  margin-left: 5%;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #E1DEE6;
  border-radius: 10px 10px 0px 0px;
  color: #0E012A;
  font-weight: 600;
  width: 70%;
}

.dialogTurnTextArea {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  width: 70%;
  background: #E1DEE6;
  box-shadow: 0 0 20px 0 rgba(16, 16, 17, 0.1);
  text-align: left;
  height: 35px;
  overflow: auto;
  border: none;
  border-radius: 0 0px 10px 10px;
  margin-left: 5%;
  padding-left: 5px;
  margin-bottom: 10px;
  color: #0E012A;
}

.button {
  float: left;
  color: #5A5A5A;
  background-color: #E1DEE6;
  border: none;
  margin-bottom: 10px;
  margin-left: 0px;
  font-weight: normal;
  font-size: 15px;
  outline: 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.button:hover {
  background-color: #ebe9f0;
}